*.o
PrimoProgetto/list/list_program
PrimoProgetto/list/test_list
PrimoProgetto/list/errori.txt
PrimoProgetto/set/vec/test
PrimoProgetto/set/vec/test_setvec.d
PrimoProgetto/set/vec/test_setvec
*.txt
PrimoProgetto/main
*.d
PrimoProgetto/vector/test_vector
